@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Saira&display=swap');


body{
    font-family: Montserrat,Sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    word-wrap: normal;
    overflow-wrap: normal;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #C4F40A;
    border-radius: 4px;
}
h1, h2, h3,h4,h5,a{
    margin: 0;
    padding: 0;
}

h1{
    color: #C4F40A;
    font-size: 30px;
    line-height: 1.3em;
}
span{
    background-color: #C4F40A;
    color: #000;
    padding: 5px;
}

a{
    background-color: #0ba90e;
    border-style: solid;
    border-width: 0 0 4px;
    border-color: #0ba90e;
    border-radius: 45px 45px 45px 45px;
    text-decoration: none;

}
a:hover{
    transform: scale(0.9);
}

.block{
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 40px 15px;
    gap: 20px 0;
    background-color: #00000091;
}

ul{
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 0;
}

li{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
a{
    display: flex;
    justify-items: center;
    flex-direction: column;
    color:#fefefe;
    padding: 20px;
    margin-top: 20px;
}
iframe{
    width: auto;
    max-width: 900px;
}

img{
    max-width:100%;
}

.svg-icon{
    width: 20px;
}
.block{
    display: grid;
    justify-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.block1{
    margin: 0;
    background-color: #0ba90e;
    padding: 20px;
    color: #fefefe;
   
}

.block2{
    padding: 40px 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/C2-2.jpg);
    background-size: cover;
}
.block2 h1{
    color: #fefefe;
}


.block3 li{
    background-color: #C4F40A;
    margin: 20px 0;
    padding: 15px;
    border-radius: 12px;
    gap: 10px;
}
.block3 ul{
    padding: 0;
}
.block3 h1{
    color: #C4F40A;
}

#Layer_1{
    width: 70px;
    height: auto;
    fill: #C4F40A;
}

.content-icon{
    background-color: #00000091;
    padding: 20px;
    border-radius: 6px 80px 6px 6px;
}

.block4{
    padding: 40px 20px;
}

.block4 li{
    margin: 20px 0;

}
.block4 h2{
    font-family: Saira,sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.block5{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/C2-2.jpg);

}
.block5 li{
    border: 4px solid #C4F40A;
    border-radius: 25px;
    padding: 10px;
    margin: 20px 0;
}

.block5 h3{
    color:#fefefe;
}

.block6{
    background-color: #C4F40A;
}
.block6 h1{
    color: #000;
}

.block6 span{
    background-color: #fefefe;
}
.block7-5{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/C2-2.jpg);
    color: #dedede;
}
.block7-5 img{
    width: 35%;

}

.block8 article{
    background-color: #dedede;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
.block8 article a h3{
    background-color: #0ba90e;

}

#parcela{
    border: 5px solid #C4F40A;
    border-radius: 25px;
    width: 66%;
    font-size: 26px;

}
.block8 article h4{

    padding: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #C4F40A;
}

.block8 article span{
    line-height: 2;
    font-size: 50px;
}


.block9 li{
    margin: 20px 0;
    background-color: #C4F40A;
}

.faq{
    display: flex;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
}

.faq h3{
    max-width: 80%;
    padding-left: 10px;
}
.faq svg{
    transform: rotate(90deg);
}
.block9 h4{
    display: none;
    padding: 10px;
}
.active{
    display: block !important;
}
.svg-active{
    transform: rotate(180deg) !important;
}
footer{
    padding: 20px;
    color: #dedede;
    background-color: #000;
}

#image-carousel{
    width: 70%;
}
.splide__slide img {
    width: 100%;
   
  }
  .splide__slide video {
    width: 100%;
    
  }